//Potem w folderze src, obok componentów zrób odrębne pliki scss, któe potem tutaj się po prostu zimportuje.
//Każdy component będzie miał już na miejscu styl :) 

$background-white: #E8E8E8;
$content-white: #DFDFDF;
$dark-white: #CCC;
$light-dark: #666;
$medium-dark: #444;
$strong-dark: #333;
@mixin icon_text{
    display: flex;
    height: 24px;
    line-height: 24px;
    @include default_font;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img{
        height: 24px;
    }
}
@mixin one_to_one_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    column-gap: 5vw;
}
@mixin no_margin{
    margin: 0px;
}
@mixin no_padding{
    padding: 0px;
}
@mixin default_font{
    font-size: 20px;
    font-family: 'Raleway', 'Times New Roman';
    font-weight: 300;
    color: $medium-dark;
}
@mixin special-font{
    font-family: Cinzel, sans-serif;
}
@mixin nav-flex{
    display: flex;
    height: 76px;
    justify-content: space-around;
    align-items: center;
}
body, #root{
    @include no_margin;
    background-color: $background-white;
    overflow-x: hidden;
}
*{
    @include default_font;
    transition: 0.4s;
}
h1,h2,h3{
    @include special-font;
    font-weight: 500;
}
h3,h4,h5,h6{
    @include special-font;
    font-weight: 700;
}
h4{
    font-size: 22px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    &:hover{
        color: $strong-dark;
        letter-spacing: 2px;
    }
}
button{
    @include special-font;
    padding: 4px 12px;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: $dark-white;
    &:hover{
        background-color: $medium-dark;
        letter-spacing: 2px;
        color: $content-white;
    }
}
nav{
    position: fixed;
    background-color: $content-white;
    z-index: 10;    
    width: 100%;
    @include no_padding;
    @include nav-flex;
    .site-logo{
        height: 56px;
    }
    .nav-tabs ul{
        @include nav-flex;
        justify-content: center;
        gap: 48px;
        .li-content{
            @include special-font;
            font-weight: 600;
        }
    }
    .nav-buttons{
        display: flex;
        column-gap: 16px;
        align-items: center;
        button{
             padding: 4px 12px;
             @include default_font;
             &:hover{
                color: $content-white;
             }
        }
    }
}
ul{
    @include no_margin;
    @include no_padding;
}
#hero{
    @include one_to_one_grid;
    padding: 0px 96px; 
    height: 100vh;
    .desc-hero{
        overflow: hidden;
        display: grid;
        grid-template-rows: max-content max-content max-content max-content max-content;
       h1{
            font-size: 64px;
            line-height: 80px;
            margin: 0px;
            text-transform: uppercase;
       }
       h4{
            font-weight: 500;
            margin: 0px;
            line-height: 32px;
       }
       b{
            @include special-font;
            font-size: inherit;
            font-weight: 700;
            text-transform: uppercase;
        }
       button{
            justify-self: left;
            padding: 4px 12px;
            margin-top: 16px;
       }
       .desc-p{
            margin: 8px 0px;
            max-height: 30vh;
            overflow-y: scroll;
            @include default_font;
       }
       .desc-list-container{
            width: fit-content;
            .desc-list{
                margin: 0px;
                @include no_padding;
                display: flex;
                gap: 20px;
                li{
                    @include icon_text;
                }
           }
           .desc-hr{
                margin: 48px 0px;
                display: block;
                height: 2px;
                background-color: $dark-white;
                box-shadow: 0px 0px 10px $dark-white;
                border-radius: 3px;
            }
       }
    }
    .view-hero{
        max-width: 100%;
        position: relative;
        img{
            height: 480px; //1/1
            max-width: 720px;
            position: absolute;
            border-radius: 24px;
            object-fit: cover;
            object-position: 50%;
        }
        #hero-img-1{
            top: -2vh;
            left: 14vh;
        }
        #hero-img-2{
            height: 240px; //2/4
            position: absolute;
            left: 0px;
            top: 316px;
        }
        #hero-img-3{
            height: 323px; //2/3
            position: relative;
            right: -302px;
            top: 402px;
        }
    }
}
#explore-container{
    height: fit-content;
    margin: 48px 96px;
    @include one_to_one_grid;
    row-gap: 2vh;
    .explore{
        @include one_to_one_grid;
        column-gap: 1vw;
        height: 100%;
        .explore-img-container{
            position: relative;
            img{
                border-radius: 16px;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 60%;
            }
        }
        .explore-info{
            height: 100%;
            padding: 24px 0px;
            .explore-localisation-container{
                @include icon_text;
                width: fit-content;
                .pointer{
                    height: 20px;
                    position: relative;
                    top: -1px;
                }
                span{
                    font-weight: 300;
                }
                &:hover{
                    letter-spacing: 1px;
                    span{
                        @include default_font;
                        font-weight: 500;
                    }
                    .pointer{
                        animation-name: click;
                        animation-duration: 0.4s;
                    }
                    @keyframes click{
                        0%{
                            height: 20px;
                        }
                        50%{
                            height: 24px;
                        }
                        100%{
                            height: 20px;
                        }
                    }
                }
            }
            .explore-description{
                @include no_margin;
            }
            .explore-title{
                font-size: 32px;
                margin: 8px 0px;
            }
            .explore-link button{
                margin-top: 16px;
                font-weight: 500;
            }
        }
    }
}
#project-desc{
    margin: 48px 96px;
    @include one_to_one_grid;   
    .project-info-content{
        background-color: $content-white;
        border-radius: 16px;
        padding: 16px 32px;
        display: grid;
        grid-template-rows: auto 1fr;
        h2{
            font-size: 40px;
            @include no_margin;
            margin: auto;
            width: fit-content;
        }
        #authors{
            margin-top: 16px;
            .authors-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 32px;
                .author-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: initial;
                    *{
                        width: fit-content;
                        // margin: auto;
                    }
                    h4{
                        margin: 8px auto;
                    }
                    img{
                        margin: 0 auto;
                        width: 10vw;
                        max-width: 160px;
                        border-radius: 50%;
                    }
                    .roles{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        li{
                            display: flex;
                            margin: 0;
                            column-gap: 8px;
                            .li-content{
                                font-size: 16px;
                                display: flex;
                                align-items: center;
                            }
                        }
                        img{
                            border-radius: 0;
                            height: 24px;
                            width: 24px;
                            
                        }
                    }
                }
            }
        }
    }
    #contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        row-gap: 16px;
        height: 100%;
        *{
            width: 70%;
        }
        @mixin inputs{
            padding: 8px 16px;
            background-color: $background-white;
            color: $light-dark;
            border: solid $dark-white 0px;
            border-bottom-width: 4px;
            &:focus{
                color: $strong-dark;
                outline: solid 6px transparent;
                border-color: $light-dark;
            }
        }
        textarea{
            resize: none;
            height: 100%;
            @include inputs;
        }
        button{
            width: auto;
        }
        input{
            @include inputs;
        }
    }
}
#details-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 96px;
  
}
.detail{
    display: grid;
    grid-template-rows: auto 1fr;    
    justify-items: center;
    text-align: center;
    line-height: 32px;
    // align-items: center;
    h5{
        font-size: 32px;
        line-height: 40px;
        margin: 0px;
    }
}