body, #root {
  margin: 0px;
  background-color: #E8E8E8;
  overflow-x: hidden;
}

* {
  font-size: 20px;
  font-family: "Raleway", "Times New Roman";
  font-weight: 300;
  color: #444;
  transition: 0.4s;
}

h1, h2, h3 {
  font-family: Cinzel, sans-serif;
  font-weight: 500;
}

h3, h4, h5, h6 {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 22px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #333;
  letter-spacing: 2px;
}

button {
  font-family: Cinzel, sans-serif;
  padding: 4px 12px;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #CCC;
}
button:hover {
  background-color: #444;
  letter-spacing: 2px;
  color: #DFDFDF;
}

nav {
  position: fixed;
  background-color: #DFDFDF;
  z-index: 10;
  width: 100%;
  padding: 0px;
  display: flex;
  height: 76px;
  justify-content: space-around;
  align-items: center;
}
nav .site-logo {
  height: 56px;
}
nav .nav-tabs ul {
  display: flex;
  height: 76px;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
nav .nav-tabs ul .li-content {
  font-family: Cinzel, sans-serif;
  font-weight: 600;
}
nav .nav-buttons {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
nav .nav-buttons button {
  padding: 4px 12px;
  font-size: 20px;
  font-family: "Raleway", "Times New Roman";
  font-weight: 300;
  color: #444;
}
nav .nav-buttons button:hover {
  color: #DFDFDF;
}

ul {
  margin: 0px;
  padding: 0px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  column-gap: 5vw;
  padding: 0px 96px;
  height: 100vh;
}
#hero .desc-hero {
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content;
}
#hero .desc-hero h1 {
  font-size: 64px;
  line-height: 80px;
  margin: 0px;
  text-transform: uppercase;
}
#hero .desc-hero h4 {
  font-weight: 500;
  margin: 0px;
  line-height: 32px;
}
#hero .desc-hero b {
  font-family: Cinzel, sans-serif;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}
#hero .desc-hero .desc-button-link {
  margin: 0px;
  padding: 0px;
  justify-self: left;
}
#hero .desc-hero .desc-button {
  padding: 4px 12px;
  margin-top: 16px;
}
#hero .desc-hero .desc-p {
  margin: 8px 0px;
  max-height: 30vh;
  overflow-y: scroll;
  font-size: 20px;
  font-family: "Raleway", "Times New Roman";
  font-weight: 300;
  color: #444;
}
#hero .desc-hero .desc-list-container {
  width: fit-content;
}
#hero .desc-hero .desc-list-container .desc-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
}
#hero .desc-hero .desc-list-container .desc-list li {
  display: flex;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  font-family: "Raleway", "Times New Roman";
  font-weight: 300;
  color: #444;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#hero .desc-hero .desc-list-container .desc-list li img {
  height: 24px;
}
#hero .desc-hero .desc-list-container .desc-hr {
  margin: 48px 0px;
  display: block;
  height: 2px;
  background-color: #CCC;
  box-shadow: 0px 0px 10px #CCC;
  border-radius: 3px;
}
#hero .view-hero {
  max-width: 100%;
  position: relative;
}
#hero .view-hero img {
  height: 480px;
  max-width: 720px;
  position: absolute;
  border-radius: 24px;
  object-fit: cover;
  object-position: 50%;
}
#hero .view-hero #hero-img-1 {
  top: -2vh;
  left: 14vh;
}
#hero .view-hero #hero-img-2 {
  height: 240px;
  position: absolute;
  left: 0px;
  top: 316px;
}
#hero .view-hero #hero-img-3 {
  height: 323px;
  position: relative;
  right: -302px;
  top: 402px;
}

#explore-container {
  height: fit-content;
  margin: 48px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  column-gap: 5vw;
  row-gap: 2vh;
}
#explore-container .explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  column-gap: 5vw;
  column-gap: 1vw;
  height: 100%;
}
#explore-container .explore .explore-img-container {
  position: relative;
}
#explore-container .explore .explore-img-container img {
  border-radius: 16px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60%;
}
#explore-container .explore .explore-info {
  height: 100%;
  padding: 24px 0px;
}
#explore-container .explore .explore-info .explore-localisation-container {
  display: flex;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  font-family: "Raleway", "Times New Roman";
  font-weight: 300;
  color: #444;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
}
#explore-container .explore .explore-info .explore-localisation-container img {
  height: 24px;
}
#explore-container .explore .explore-info .explore-localisation-container .pointer {
  height: 20px;
  position: relative;
  top: -1px;
}
#explore-container .explore .explore-info .explore-localisation-container span {
  font-weight: 300;
}
#explore-container .explore .explore-info .explore-localisation-container:hover {
  letter-spacing: 1px;
}
#explore-container .explore .explore-info .explore-localisation-container:hover span {
  font-size: 20px;
  font-family: "Raleway", "Times New Roman";
  font-weight: 300;
  color: #444;
  font-weight: 500;
}
#explore-container .explore .explore-info .explore-localisation-container:hover .pointer {
  animation-name: click;
  animation-duration: 0.4s;
}
@keyframes click {
  0% {
    height: 20px;
  }
  50% {
    height: 24px;
  }
  100% {
    height: 20px;
  }
}
#explore-container .explore .explore-info .explore-description {
  margin: 0px;
}
#explore-container .explore .explore-info .explore-title {
  font-size: 32px;
  margin: 8px 0px;
}
#explore-container .explore .explore-info .explore-link button {
  margin-top: 16px;
  font-weight: 500;
}

#project-desc {
  margin: 48px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  column-gap: 5vw;
}
#project-desc .project-info-content {
  background-color: #DFDFDF;
  border-radius: 16px;
  padding: 16px 32px;
  display: grid;
  grid-template-rows: auto 1fr;
}
#project-desc .project-info-content h2 {
  font-size: 40px;
  margin: 0px;
  margin: auto;
  width: fit-content;
}
#project-desc .project-info-content #authors {
  margin-top: 16px;
}
#project-desc .project-info-content #authors .authors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
}
#project-desc .project-info-content #authors .authors-container .author-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
}
#project-desc .project-info-content #authors .authors-container .author-container * {
  width: fit-content;
}
#project-desc .project-info-content #authors .authors-container .author-container h4 {
  margin: 8px auto;
}
#project-desc .project-info-content #authors .authors-container .author-container img {
  margin: 0 auto;
  width: 10vw;
  max-width: 160px;
  border-radius: 50%;
}
#project-desc .project-info-content #authors .authors-container .author-container .roles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#project-desc .project-info-content #authors .authors-container .author-container .roles li {
  display: flex;
  margin: 0;
  column-gap: 8px;
}
#project-desc .project-info-content #authors .authors-container .author-container .roles li .li-content {
  font-size: 16px;
  display: flex;
  align-items: center;
}
#project-desc .project-info-content #authors .authors-container .author-container .roles img {
  border-radius: 0;
  height: 24px;
  width: 24px;
}
#project-desc #contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  row-gap: 16px;
  height: 100%;
}
#project-desc #contact-form * {
  width: 70%;
}
#project-desc #contact-form textarea {
  resize: none;
  height: 100%;
  padding: 8px 16px;
  background-color: #E8E8E8;
  color: #666;
  border: solid #CCC 0px;
  border-bottom-width: 4px;
}
#project-desc #contact-form textarea:focus {
  color: #333;
  outline: solid 6px transparent;
  border-color: #666;
}
#project-desc #contact-form button {
  width: auto;
}
#project-desc #contact-form input {
  padding: 8px 16px;
  background-color: #E8E8E8;
  color: #666;
  border: solid #CCC 0px;
  border-bottom-width: 4px;
}
#project-desc #contact-form input:focus {
  color: #333;
  outline: solid 6px transparent;
  border-color: #666;
}
#project-desc #contact-form #submitted {
  text-align: center;
  color: green;
  margin-bottom: 16px;
}

#details-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 48px 96px;
}

.detail {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  text-align: center;
  line-height: 32px;
}
.detail h5 {
  font-size: 32px;
  line-height: 40px;
  margin: 0px;
}/*# sourceMappingURL=style.css.map */